<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <title>Njaer Dkshirtorv</title>
</head>
<body>
    <div class="background">
        <ul class="area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="content">
        <div class="top-pane fixed">
            <span class="artist-title">
                NJAER DKSHIRTORV
            </span>
            <span class="artist-brief">
                Concept Artist
            </span>
            <span class="info-btns">
                <button class="btn">About</button>
                <button class="btn">Contact</button>
                <button class="btn">Services</button>
                <button class="btn">Resume</button>
            </span>
        </div>
    
        <div class="img-cont-outer fixed">
            <div class="img-cont-inner">
                <img src="images/ahmed-1.jpg" alt="" class="cont-image">
                <img src="images/ahmed-2.jpg" alt="" class="cont-image">
                <img src="images/ahmed-3.jpg" alt="" class="cont-image">
            </div>
        </div>
        <div class="cont-buttons fixed">
            <button class="cont-button" id="prevBtn"></button>
            <button class="cont-button" id="nextBtn"></button>
        </div>
    
        <div class="side-pane fixed">
            <div class="inner">
                <div class="brief-line">
                        List of Accomplishments
                </div>
                <div class="accomplishments">
                    <ul>
                        <li>Accomplishment 1</li>
                        <li>Accomplishment 2</li>
                        <li>Accomplishment 3</li>
                        <li>Accomplishment 4</li>
                        <li>Accomplishment 5</li>
                        <li>Accomplishment 6</li>
                        <li>Accomplishment 7</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/container.js"></script>
</body>
</html>