<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <title>Njaer Dkshirtorv</title>
</head>
<body>
    <div class="top-pane">
        <span class="artist-title">
            RAUNAK MATHILI
        </span>
        <span class="artist-brief">
            Concept Artist
        </span>
        <span class="info">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </span>
    </div>

    <div class="img-cont-outer">
        <div class="img-cont-inner">
            <img src="images/ahmed-1.jpg" alt="" class="cont-image">
            <img src="images/ahmed-2.jpg" alt="" class="cont-image">
            <img src="images/ahmed-3.jpg" alt="" class="cont-image">
        </div>
    </div>
    <div class="cont-buttons">
        <button class="cont-button" id="prevBtn"></button>
        <button class="cont-button" id="nextBtn"></button>
    </div>
    <script src="scripts/container.js"></script>
</body>
</html>